@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Press Start 2P', cursive;
}

div.game-board {
	width:100%;
	height:100vh;
	border-bottom:15px solid rgb(35, 168, 35);
	margin:0 auto;
	position:relative;
	overflow:hidden;
	background: linear-gradient(#87CEEB, #E0F6FF);
	display: flex;
	flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.171);
    font-size: 1.2em;
    width: 100%;
    padding: 30px;
    margin: 0 0 15px;
}

div.restart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	margin-top: 125px;
	border: 2px solid rgb(14, 90, 14);
	max-width: 300px;
	height: 150px;
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(35, 168, 35);
}


.pipe{
	position:absolute;
	bottom:0;
	width:80px;
	animation: pipe-animation 1.5s infinite linear;
}

.mario{
	position:absolute;
	width:150px;
	bottom:0;
}

.jump{
	animation: jump 500ms ease-out;
	
}

.clouds{
	position:absolute;
	width:550px;
	animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation{
	from {
		right:-80px;
		
	}
	
	to {
		right:100%;
	}
} 


@keyframes jump{
	
	0% {
		bottom:0;
	}
	
	40% {
		bottom:180px;
	}
	
	50% {
		bottom:180px;
	}
	
	60% {
		bottom:180px;
	}
	
	100% {
		bottom:0;
	}
}

@keyframes clouds-animation{
	from{
		right:-550px;
	}
	
	to{
		right:100%;
	}
	
}
